#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* Split the screen into thirds*/
.Split {
  height: 100%;
  width: 33.3333%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.Left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.Right {
  right: 0;
  background-color: red;
}

#Middle {
  right:auto;
  left:auto;
  background-color:red;
}
